<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Игрок 1</h3>
    {% for card in first_player_cards %}
        <img src="/static/img/cards/{{ card.__str__() }}.png" alt="">
    {% endfor %}

    <h3>Стол</h3>
    {% for card in table_cards %}
        <img src="/static/img/cards/{{ card.__str__() }}.png" alt="">
    {% endfor %}

    <h3>Игрок 2</h3>
    {% for card in second_player_cards %}
        <img src="/static/img/cards/{{ card.__str__() }}.png" alt="">
    {% endfor %}

    <h2>{{ result }}</h2>
</body>
</html>